{% extends 'blog/base.html' %}
{% block content %}
<h3 id="auth-links" style="color: #3333ff; margin-left: 40%;">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  C++ LESSONS
</h3>
    {% for cpps in cpps %}
        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ cpps.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" style="font-size: 20px">{{ cpps.topic }}</a>
                <small class="text-muted">{{ cpps.date_cpped }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'cpp-detail' cpps.id %}">{{ cpps.title }}</a></h2>
<!--              <p class="article-content">{{ cpps.content }}</p>-->
            </div>
            <br>
          </article>
    {% endfor  %}
{% endblock content %}
