{% extends 'blog/base.html' %}
{% block content %}
<h3 id="auth-links" style="color: #3333ff; margin-left: 40%;">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  JAVASCRIPT LESSONS
</h3>
    {% for jss in jss %}
        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ jss.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" style="font-size: 20px">{{ jss.topic }}</a>
                <small class="text-muted">{{ jss.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'js-detail' jss.id %}">{{ jss.title }}</a></h2>
<!--              <p class="article-content">{{ jss.content }}</p>-->
            </div>
            <br>
          </article>
    {% endfor  %}
{% endblock content %}
