{% extends 'blog/base.html' %}
{% block content %}
<h3 id="auth-links" style="color: #3333ff; margin-left: 40%;">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  NODE JS LESSONS
</h3>
    {% for nodes in nodes %}
        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ nodes.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" style="font-size: 20px">{{ nodes.topic }}</a>
                <small class="text-muted">{{ nodes.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'node-detail' nodes.id %}">{{ nodes.title }}</a></h2>
<!--              <p class="article-content">{{ nodes.content }}</p>-->
            </div>
            <br>
          </article>
    {% endfor  %}
{% endblock content %}
