{% extends 'java/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1 style="text-align: center;">About</h1>
        <p>ORA Learning is all about teaching learning minds on their various field of study like Computer Programming Languages, Mathematics and other related science subject.
            We started this training with a physical class but later thought of having it virtually will enable long distance student to learn and study better.</p>
        <p>My name is Omotoso Abdul-Rauf Abiola, I'm a Python and Java Programmer and Instructor, a full stack Web Developer<strong>(Backend major)</strong> and a aspiring to be Cybersecurity.</p>
        <p>Stay focused while you learn from us</p>
    </div>
{% endblock content %}