{% extends 'blog/base.html' %}
{% block content %}
<h3 id="auth-links" style="color: #3333ff; margin-left: 40%;">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  JAVA LESSONS
</h3>

    {% for javas in javas %}
        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ javas.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" style="font-size: 20px">{{ javas.topic }}</a>
                <small class="text-muted">{{ javas.date_posted }}</small>
              </div>
              <h2><a class="article-title" href="{% url 'java-detail' javas.id %}">{{ javas.title }}</a></h2>
<!--              <p class="article-content">{{ javas.content }}</p>-->
            </div>
            <br>
          </article>
    {% endfor  %}
{% endblock content %}
